@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the E-Shop</h1>
    <p>Get your electronics from anywhere</p>
    <img src="~/imgs/homegif.gif" alt="Home Page" height="350" />
</div>